html { overflow:  hidden; }
div { height:  2000px; }
body{
    background-color: #16ffeb;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
#header{
    background-color: #144955;
    width: 100%;
    height: 1.5%;
    color: #d37f1f;
    padding: 1%;
    font-size: 30px;
    text-align: center;
}
#change {
    float: left;
    width: 13%;
    height: 200px;
    padding-left: 1%;
    margin: 1%;
    position: absolute;
}

#y {
    position: absolute;
    left: 12%;
    width: 15%;
    height: 100px;
    padding-left: 1%;
    margin: 1%;
}
#r{
    left: 26%;
    width: 15%;
    height: 100px;
    padding-left: 1%;
    margin: 1%;
    position: absolute;
}
button{
    height: 30px;
    width: 30px;
    padding: 1%;
    margin: 1%;
}

#clearButton{
    left: 26%;
    top: 27%;
    width: 12.5%;
    height: 25px;
    padding-left: 1%;
    margin: 1%;
    position: absolute;
}
#sendButton {
    left: 12%;
    top: 27%;
    width: 12.5%;
    height: 50px;
    padding-left: 1%;
    margin: 1%;
    position: absolute;
}
#error{
    left: 14%;
    top: 32%;
    position: absolute;
    font-weight: bold;
}
.myCanvas{
    position: absolute;
    top: 40%;
    left: 13.5%;
    background-color: #21ccd0;
    height: 300px;
}
#table{
    position: absolute;
    left: 50%;
    margin: 1%;
    height: 530px;
    overflow: auto;
}
table{
    width: 600px;
    height: 50px;
}
table, tr, th {
    border: 4px outset deepskyblue;
    border-spacing: 5px;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 15px;

}
#errorY, #errorR, #errorX, #error {
    font-size: 15px;
    color: #ff1035;
}

#tHeader > th{
    font-weight: 900;
}